In [1]:
s='python'
print(s)
print(s.upper())
print(s.lower())

python
PYTHON
python

In [3]:
#string boolean  methods
print(s.isupper())
print(s.islower())

False
True

In [4]:
# istitle:
s1 = "python programming"
print(s1.istitle())

False

In [5]:
# isnumeric
s2="pytt1234"
s3="12374876757346532757184582634587235623"
print(s2.isnumeric())
print(s3.isnumeric())

False
True

In [6]:
#is alpha
s="python"
s2 = "pyt123"
print(s.isalpha())
print(s2.isalpha())

True
False

In [7]:
#isspace
s=" "
s1="py th on"
print(s.isspace())
print(s2.isspace())

True
False

In [5]:
def listnum():
    n=int(input("enter the number"))
    m=n;
    l=[];
    while m>0:
        r=m%10;
        l.insert(0,r);
        m=m//10;
    return l;
listnum()

enter the number59484984

[5, 9, 4, 8, 4, 9, 8, 4]

In [7]:
# factor od=f the numbers
# input :12
# output : 1,2,3,4,6,12
def factorsof(n):
    i=1;factors=[];
    while(i<=n):
        if(n%i==0):
            factors.append(i);
        i=i+1;
    return factors;
factorsof(12)

[1, 2, 3, 4, 6, 12]

In [9]:
#input:500,520
#output:500,502,504.................,520
def printsequence(s,e):
    while(s<=e):
        print(s,end=" ");
        s=s+2;
printsequence(500,520)

500 502 504 506 508 510 512 514 516 518 520

In [10]:
a=13478
int(max(str(a)))

8

In [11]:
#input s="python"
#output:['p','y','t','h','o','n']
s='python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']